<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebMatica</title>
    <!-- 引入 Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <style>
        body {
            background-color: white; /* 浅蓝色背景 */
        }
        .navbar {
            background-color: #e6f7ff; /* 深蓝色导航栏 */
        }
        .navbar-brand {
            color: black !important;
        }
        .container {
            margin-top: 50px;
        }
        .loading-container {
            display: flex;
            align-items: center; /* 垂直居中对齐 */
            justify-content: center; /* 水平居中对齐 */
            gap: 10px; /* 标志和文字之间的间距 */
        }
        .status-text {
            font-size: 1.5rem;
            color: black; /* 深蓝色文字 */
        }
        .status-container {
            display: flex;
            align-items: center; /* 垂直居中对齐 */
            justify-content: center; /* 水平居中对齐 */
        }
    </style>
</head>
<body onload="App.AwaitStatus();">
    <!-- 导航栏 -->
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">WebMatica</a>
        </div>
    </nav>

    <!-- 主内容 -->
    <div class="container" id="containerDiv">
        
    </div>

    <!-- 引入 Bootstrap JS 和依赖 -->
    <script src="js/bootstrap.min.js"></script>
    <!--  -->
    <script type="importmap">
        
        {
            "imports": {
              "three": "/js/Three.js",
              "three/controls/OrbitControls": "/js/OrbitControls.js",
              "three/loaders/GLTFLoader": "/js/GLTFLoader.js"
            }
          }
    </script>
    <script type="module" src="js/detail.js"></script>
</body>
</html>